.adminPage
  .adminPage__container
    .adminBooks__return
      = link_to "戻る", :back, class: 'adminBooks__return__btn'
    .adminBooks__contents
      .adminBooks__items
        - @books.each do |book|
          .adminBooks__item
            = link_to book_path(book), class: 'adminBooks__item__link' do
              = book.name
            .adminBooks__item__text= book.writer
            .adminBooks__item__text= book.category.name
            .adminBooks__item__text= book.genre.name
