.publicPage
  .publicPage__container

    .form__header
      %h2.form__header__text ログイン

    .form__contents
      = form_with model: @user, url: user_session_path, local: true do |f|
        %table.form__items

          %tr.form__item
            %th.form__item__label
              = f.label :email, "メールアドレス"
            %td.form__item__textarea
              = f.email_field :email, autofocus: true, autocomplete: "email"

          %tr.form__item
            %th.form__item__label
              = f.label :password, "パスワード"
            %td.form__item__textarea
              = f.password_field :password, autocomplete: "current-password"

        - if devise_mapping.rememberable?
          .form__checkBox
            = f.check_box :remember_me
            = f.label :remember_me, "ログインしたままにする"
        .form__action
          = f.submit "ログイン", class: "form__action__btn"
= render "public/shared/links"
