!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=> "viewport",  :content=> "width=device-width,initial-scale=1.0"}
    %title BookSite
    = csrf_meta_tags
    = csp_meta_tag
    %link{:rel => "stylesheet", :type => "text/css", :href => "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    - if @path.include?('admins/sign')
      .header--admin

        .header__logo
          %h1.header__logo__text
            \\EE/_Books

        .header__nav
          %ul.header__nav__list
            %li.header__nav__item
              =link_to root_path, class: 'header__nav__item__link--admin' do
                %p.header__nav__item__text
                  TOP
            %li.header__nav__item
              =link_to root_path, class: 'header__nav__item__link--admin' do
                %p.header__nav__item__text
                  ABOUT
            %li.header__nav__item
              =link_to books_path, class: 'header__nav__item__link--admin' do
                %p.header__nav__item__text
                  HOME
            %li.header__nav__item
              =link_to root_path, class: 'header__nav__item__link--admin' do
                %p.header__nav__item__text
                  ログイン

    - elsif admin_signed_in?
      .header--admin

        .header__logo
          %h1.header__logo__text
            \\EE/_Books

        .header__nav
          %ul.header__nav__list
            %li.header__nav__item
              =link_to root_path, class: 'header__nav__item__link--admin' do
                %p.header__nav__item__text
                  TOP
            %li.header__nav__item
              =link_to root_path, class: 'header__nav__item__link--admin' do
                %p.header__nav__item__text
                  ABOUT
            %li.header__nav__item
              =link_to books_path, class: 'header__nav__item__link--admin' do
                %p.header__nav__item__text
                  HOME
            %li.header__nav__item
              =link_to destroy_admin_session_path, method: :delete, class: 'header__nav__item__link--admin' do
                %p.header__nav__item__text
                  ログアウト

    - elsif controller.action_name == 'top'
      .topHeader
        .topHeader__topVisual

          .topHeader__topVisual__logo
            %h1.topHeader__topVisual__logo__text
              \\EE/_Books

        .topHeader__nav
          %ul.topHeader__nav__list
            %li.topHeader__nav__item
              =link_to root_path, class: 'topHeader__nav__item__link' do
                %p.topHeader__nav__item__text
                  TOP
            %li.topHeader__nav__item
              =link_to root_path, class: 'topHeader__nav__item__link' do
                %p.topHeader__nav__item__text
                  ABOUT
            %li.topHeader__nav__item
              =link_to books_path, class: 'topHeader__nav__item__link' do
                %p.topHeader__nav__item__text
                  HOME
            %li.topHeader__nav__item
              =link_to root_path, class: 'topHeader__nav__item__link' do
                %p.topHeader__nav__item__text
                  ログイン
    -else
      .header

        .header__logo
          %h1.header__logo__text
            \\EE/_Books

        .header__nav
          %ul.header__nav__list
            %li.header__nav__item
              =link_to root_path, class: 'header__nav__item__link' do
                %p.header__nav__item__text
                  TOP
            %li.header__nav__item
              =link_to root_path, class: 'header__nav__item__link' do
                %p.header__nav__item__text
                  ABOUT
            %li.header__nav__item
              =link_to books_path, class: 'header__nav__item__link' do
                %p.header__nav__item__text
                  HOME
            %li.header__nav__item
              =link_to root_path, class: 'header__nav__item__link' do
                %p.header__nav__item__text
                  ログイン


    = yield
    %script{type: "text/javascript",src: "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
    =javascript_include_tag "validation.js"
