!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=> "viewport",  :content=> "width=device-width,initial-scale=1.0"}
    %title BookSite
    = csrf_meta_tags
    = csp_meta_tag
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/6b92dd2514.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "raty.js"

  %body
    - if @path.include?('admin') || admin_signed_in?

      = render 'layouts/admin_header', {path: @path}

    - else

      = render 'layouts/public_header'




    = yield
    %script{type: "text/javascript",src: "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
    =javascript_include_tag "validation.js"

    .bottom
      %h2.bottom__text
        ©︎Copy Right

